*{
   margin:0;
   padding:0;
  
}
footer{
    background-color: white;
    color: black;

}


.footer_details {
    display: flex;
   justify-content: space-evenly;
   
   
   
}
.footer_details li:hover{
    color:black;
}
.content,p{
    width: '200px';
    padding-top:15px;
}
.contentt,li{
padding-top:15px;
list-style-type: none;

}

.contenttt,li{
    padding-top:15px;
}
.link{
    display:flex;
    justify-content: space-evenly;
    padding:35px;
    
}
.copyrights{
      display:flex;
      justify-content:center;
      color:black;


}



